.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

.login_input {
  background-color: none;
  border: none;
  border-bottom: 3px rgba(255,255,255,0.7) solid;
  background-color: transparent;
  width: 20vw;
  height: 5vh;
  font-size: 20px;
  margin-bottom: 10px;
}

.login_input:focus {
  outline: none;
  color: whitesmoke;
}
.login_span {
  margin-top: 10px;
  font-size: 20px;
}